  body {
        font-family: Arial, sans-serif;
        position: relative;
        left: 500px;
    }

    a {font-family: Verdana, sans-serif;
        
        position: relative;
        right: 500px;


    }
    